@import '../abstract/constants.scss';
@import '../abstract/mixins.scss';

.header {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  background-color: $light;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo a {
  text-decoration: none;
  color: $textColor;
  &:hover {
    color: $linksHover;
  }
}

.header__nav {
  display: flex;
}

.header__navList {
  margin: 16px 0;
}

.header__navItem {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
}

.header__navItem a {
  text-decoration: none;
  color: $textColor;
  font-size: 1.5rem;
  font-weight: 600;
  &:hover {
    color: $linksHover;
  }
}