.allGames {
    font-size: 2rem;
    color: white;
}

.allGames__startScreen {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

    height: 100vh;

    &-hidden {
        display: none;
    }
}

.allGames__heading {

}

.allGames__description {
    text-align: center;
}

.allGames__startBtn {

}


.allGames__timerScreen {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-hidden {
        display: none;
    }
}

.allGames__timer {
    font-size: 6rem;
}

.allGames__tip {
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.allGames__playScreen {
    
    &-hidden {
        display: none;
    }
}