@import '../../../abstract/constants.scss';
@import '../../../abstract/mixins.scss';

 
.sprint--card__button{
  button{
    width: 90px;
    margin: 10px;
    height: 35px;
    color: white;
    border: 0;
    outline: none;
    border-radius: 3px;
    transition: 0.1s;
  }
}
.sprint--button__correct{
  background: rgb(64,199,129);
  box-shadow: -3px -3px rgb(53,167,110) inset;
  &:active{
    background: rgb(33,147,90);
    box-shadow: 3px 3px #17653e inset;
  }
}

.sprint--button__error{
  background: #ef5f5f;
  box-shadow: -3px -3px #c34040 inset;
  &:active{
    background: #9e2a2a;
    box-shadow: 3px 3px #7d1a1a inset;
  }
}


.sprint--game{
  &.hidden{
    display: none;
  }
  font-size: 2rem;
  display: flex;
  width: 600px;
  padding-left: calc(50vw - 300px);
  padding-top: calc(50vh - 150px);
  @include media-tablet {
    padding-left: calc(50vw - 200px);
    width: 400px;
  }
  @include media-mobile-big {
    width: 95%;
    padding-left: calc(2.5vw);
  }
}
.sprint--game__card{
  text-align: center;
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow:3px 3px 3px darkgrey;
  overflow: hidden;
}

.sprint--card__list{
  background-size: contain;
  background-image: url(../../../../img/games/sprint/list.png);
  transform: rotate(90deg);
  width: 81px;
  height: 104px;
  margin: auto;
}
.sprint--card__list2{
  background-size: contain;
  &.hidden{
    display: none;
  }
  background-image: url(../../../../img/games/sprint/list2.png);
  transform: rotate(90deg);
  width: 81px;
  height: 104px;
  position: absolute;
  margin-top: -107px;
  margin-left: 120px;
}
.sprint--card__title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fde28e;
  height: 50px;
  .sprint--card__title_check{
    display: block;
    height: 13px;
    width: 13px;
    background: #dac994;
    border-radius: 50%;
    margin: 3px;
    &.active{
      position: relative;
      display: inline-block;
      background-color: green;
    }  
    &.active::before{
      position: absolute;
      left: -3px;
      top: 50%;
      height: 50%;
      width: 3px;
      background-color: white;
      content: "";
      transform: translateX(10px) rotate(-45deg);
      transform-origin: left bottom;
    }
  
    &.active::after{
      position: absolute;
      left: -3px;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: white;
      content: "";
      transform: translateX(10px) rotate(-45deg);
      transform-origin: left bottom;
    }
  }
}
.sprint--card__word{
  width: 100%;
  p{
    margin: 12px;
  }
}
.sprint--game__result {
  font-size: 5rem;
  width: 150px;
  @include media-tablet {
    position: absolute;
    top: 40px;
  }
}
.sprint--game__time{
  width: 100px;
  padding-left: 54px;
  font-size: 5rem;
  @include media-tablet {
    position: absolute;
    top: 40px;
    width: 62px;
    right: calc(50% - 200px);
  }
  @include media-mobile-big {
    right: calc(5%);
  }
}

.sprint{
  height: 100vh;
  background-image: url(../../../../img/common/backgrounds/background2.jpg);
  background-size: 100vw 100vh;
  @include media-tablet {
    background-size: auto 100%;
  }
  margin-top: -71px;
}

.sprint--end{
  padding-top: calc(50vh - 150px);
  text-align: center;
  &.hidden{
    display: none;
  }
  font-size: 1.5rem;
}

.sprint--end__message{
  p{
    margin: 5px;
  }
  padding-top: 10px;
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow:3px 3px 3px darkgrey;
  margin-left: calc(50vw - 200px);
  @include media-tablet {
    margin-left: calc(50vw - 200px);
  }
  @include media-mobile-big {
    width: 95%;
    height: 220px;
    margin-left: calc(2.5vw);
  }

  .sprint--card__list{
    transform: rotate(35deg);
    margin: auto 177px;
    @include media-mobile-big {
      margin-left:40%;
    }
  }
  .sprint--card__list2{
    transform: rotate(12deg);
    margin-top: -115px;
    margin-left: 163px;
    @include media-mobile-big {
      margin-left:40%;
    }
  }
}
.sprint--end__title{
  font-size: 3rem;
}
.sprint__result{
    color: #23ad00;
    font-size: 2.5rem;
}