$imgPath: '../../../../img/games/english-puzzle/';
$imgCommonPath: '../../../../img/common/backgrounds/';

.englishPuzzle {
    width: 100%;
    padding-top: 300px;
    box-sizing: border-box;
    color: black;
    padding: 100px;
}

.englishPuzzle__background{
    background-image: url($imgCommonPath + 'background4.jpg');
    // background-image: url($imgPath + 'back_game.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
}

.englishPuzzle__logout {
  display: flex;
  justify-content: flex-end;
  color: black;
  margin-bottom: 20px;
  font-size: 2.0rem;
}

.logout__button {
  width: 55px;
  height: 50px;
  text-align: center;
  border-radius: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-y: 7px;
  background-position-x: 10px;
  background-color: white;
  background-image: url($imgPath + 'icons/logout.png');
}

.logout__button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px blueviolet;
}

.englishPuzzle__field {
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.level__title, .level__current, .page__title, .page__current {
    padding: 6px 4px;
}

.englishPuzzle__menu {
    display: flex;
    justify-content: space-between;
}

.englishPuzzle__controls {
    display: flex;
}

.menu__level, .menu__page{
    display: flex;
}

.dropdown__menu-hidden {
  display: none;
}

.level__list, .page__list {
    position: relative;
}

.level__list:hover, .page__list:hover {
    cursor: pointer;
}

.level__current, .page__current {
    width: 50px;
    text-align: center;
    position: relative;
    border: 1px solid black;
}

.level__current:hover, .page__current:hover{
    box-shadow: 0px 0px 4px -1px;
}

.level__current::before, .page__current::before {
    position: absolute;
    display: block;
    content: "\25BD";
    right: 3px;
    font-size: 1.8rem;
    top: 3px;
}

.level__menu, .page__menu {
    position: absolute;
    width: 58px;
    text-align: center;
    /* border: 1px solid black; */
    border: 1px solid darkgrey;

    /* display: none; */
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 5px -2px;
}

.level__menu .menu__item:hover, .page__menu .menu__item:hover {
    box-sizing: border-box;
    background-color: lightgrey;
    cursor: pointer;
}

.menu__page{
    margin-left: 15px;
}

.active {
    background-color: darkgray;
}

.menu__tips {
    display: flex;
}
.tips__button {
    width: 32px;
    height: 32px;
    background-color: darkgrey;
    margin-left: 10px;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
}

.tips__button:hover {
    /* background-color: rebeccapurple; */
    cursor: pointer;
}

.tips__button-pushed {
    background-color: purple;
}

.tips__button-autosound {
    background-image: url($imgPath + 'icons/sound_white.png');
}

.tips__button-translate {
    background-image: url($imgPath + 'icons/text_white.svg');
}

.tips__button-audio {
    background-image: url($imgPath + 'icons/music_note.svg');
}

.tips__button-picture{
    background-image: url($imgPath + 'icons/image_white.svg');
}

.englishPuzzle__sound{
    margin-top: 30px;
}
.sound__icon{
    margin: 0 auto;
    background-image: url($imgPath + 'icons/sound.png');
    width: 40px;
    height: 40px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.sound__icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px -2px;
}

.played {
    border: 2px solid green;
    border-radius: 7px;
}

.englishPuzzle__translation{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.englishPuzzle__phrases {
    margin-top: 20px;
}

.englishPuzzle__phrase {
    display: flex;
    flex-direction: row;
    line-height: 30px; 
}

.phrase__number {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    /* border: 1px solid black; */
    text-align: center;
    box-shadow: 0px 0px 4px -2px;
    line-height: 34px; 
}

.phrase__words {
    margin-left: 10px;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    width: calc(100% - 40px);
    box-shadow: 0px 0px 4px -2px;  
    border: 1px solid lightgrey;
    border-bottom: none;
    // box-sizing: border-box;
}

.phrase:last-child .phrase__words{
    /* border-bottom: 1px solid black; */
}

.phrase__word{
    text-align: center;
    padding: 5px 10px;
    flex-grow: 1;
    /* border-right: 1px solid rgb(156, 144, 144); */
    border-right: 1px solid lightgray;
    position: relative;
    box-sizing: border-box;
}

.englishPuzzle__phrases-round .phrase__word:not(.empty):hover{
  cursor: pointer;
}

.englishPuzzle__phrases-round .phrase__words {
  overflow: hidden;
}

/* .phrase__word::after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: -14px;
    width: 14px;
    height: 12px;
    border: 1px solid lightgrey;
    border-left-color: transparent;
    border-radius: 50%;
} */

/* .phrase__word::before {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    left: -3px;
    width: 14px;
    height: 12px;
    border: 1px solid lightgrey;
    border-left-color: transparent;
    border-radius: 50%;
} */

.phrase__word:last-child{
    border-right: none; 
}

.phrase__word:last-child::after{
    display: none;
}

/* .phrase__word:first-child::before{
    display: none;
} */

.phrase__number-current {
    color: red;
}

.empty__word {
    background-color:lightgrey; 
    flex-grow:0; 
    box-sizing:border-box;
}

.empty{
    background-color: lightgray;
    height: 40px;
    box-sizing:border-box;
}

.phrase__words.empty .phrase__word {
    background-color: white;
    flex-grow: 0;
    box-sizing: border-box;
}

.phrase__words.empty .phrase__word:hover {
    cursor: pointer;
    border: 1px solid darkgrey;
    /* border: 1px solid black; */
}


.phrase__words.empty.round__done:hover{
    cursor: unset;
}

.phrase__word-incorrect {
  background-color: indianred;
}

.phrase__word-correct {
  background-color: lightgreen;
}

.task{
    margin-top: 30px;
    margin-left: 46px;
}

.task__words{
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

.task__word{
    border: 1px solid lightgray;
    border-right: none;
    text-align: center;
    padding: 5px 10px; 
    line-height: 30px;
    flex-grow: 1;
    box-sizing: border-box;
}

.task__word:last-child{
    border-right: 1px solid lightgray;
}

.task__word:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px -2px;  
    /* border: 1px solid black; */
    border: 1px solid darkgrey;
}

.englishPuzzle__buttons {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.gameButtons__button{ 
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 10px;
}


.gameButtons__button-idk{
    background-color: mediumvioletred;
}

.gameButtons__button-idk:hover {
    background-color: purple;
}

.gameButtons__button-cont{
    background-color: green;
}

.gameButtons__button-cont:hover {
    background-color: darkgreen;
}

.gameButtons__button:hover{
    background-color: rebeccapurple;
    cursor: pointer;
}

.gameButtons__button-hidden {
    display: none;
}

.hidden {
    display: none;
}

.sound__icon-disabled {
    opacity: 0.5;
}

.sound__icon-blink {
    border: 2px solid green;
    border-radius: 7px;
    animation: blinker 1s linear infinite alternate;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.englishPuzzle__results {
  width: 100%;
  padding-top: 300px;
  box-sizing: border-box;
  color: black;
  padding: 100px;
}

.englishPuzzle__results-hidden {
  display: none;
}

.englishPuzzle__field-hidden {
  display: none;
}

.englishPuzzle__resultsField {
  margin: 0 auto;
  background-color: white;
  border-radius: 7px;
  padding: 30px;
  font-size: 1.4rem;
  box-sizing: border-box;
}

.englishPuzzle__results-fail, .englishPuzzle__results-success {
  margin-bottom: 30px;
}

.block__title{
  text-align: center;
  font-size: 2.0rem;
}

.block__title span {
  display: inline-block;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

span.count__idk{
  background-color: orangered;
}

span.count__iknow{
  background-color: green;
}


.block__words {
  font-size: 1.8rem;
  margin-top: 15px;
}

.block__word {
  display: flex;   
}

.block__word:hover {
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
}

.word__soundicon{
  background-image: url($imgPath + 'icons/sound.png');
  width: 30px;
  height: 30px;
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.word__soundicon:hover{
  cursor: pointer;
  animation: blinker 1s linear infinite alternate;

}

.word__text{
  line-height: 30px;
  margin-left: 10px;
}

.results__buttons{
  margin-top: 20px auto;
  display: flex;
  justify-content: center;
}

.results__button {
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  margin-left: 20px;
}

.results__button:hover{
  cursor: pointer;
}

.results__continue{
  background-color: mediumpurple;
}

.results__continue:hover{
  background-color: rebeccapurple;
}

.results__global {
  background-color: deepskyblue;
}

.results__global:hover{
  background-color: blue;
}