.savannah {
    margin-top: -71px;
}

.savannah__startScreen {
    background-color: green;
}

.savannah__timerScreen {
    background-color: blue;
}

.savannah__playScreen {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: violet;
}