@import '../abstract/constants.scss';
@import '../abstract/mixins.scss';

.login--container {
  background-image: url(../../img/common/backgrounds/background9.jpg);
  background-size: cover;
  height: calc(100vh - 204px);
  padding: 40px;
  font-family: 'Montserrat';
}
.login__card{
  margin: 20px;
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow:3px 3px 3px darkgrey;
  margin:auto;
  text-align: center;
}

.login__card_label{
  font-size: 1.3rem;
  margin: 25px 0 0;
}

.login__card_control {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
}

.login__control_button {
  padding: 8px;
  margin: 0 20px;
  color: grey;
  cursor: pointer;
  &.selected {
    color: $linksHover;
    text-decoration-line: underline;
  }

}

.login__card_button {
  cursor: pointer;
  font-family: 'Montserrat';
  width: 240px;
  height: 40px;
  margin: 35px;
  color: white;
  border: 0;
  outline: none;
  border-radius: 6px;
  transition: 0.1s;
  font-size: 2rem;
  background: rgb(64,199,129);
  box-shadow: -3px -3px rgb(53,167,110) inset;
  &:active{
    background: rgb(33,147,90);
    box-shadow: 3px 3px #17653e inset;
  }
  &:hover{
    background: rgb(101, 218, 157);
  } 
  &.hidden {
    display: none;
  }
}

.login__card input {
  width: 250px;
  height: 35px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #d9d9d9;
  &:focus {
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  }
}
