@import '../abstract/constants.scss';
@import '../abstract/mixins.scss';

.promo__content_banner {
  background-image: url(../../img/promo/banner1.png);
  height: 400px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include media-tablet {
    background-image: url(../../img/promo/bannerMobile.png);
  }

}

.promo__content_banner-title {
  padding: 184px calc(12% - 60px);
  width: 437px;
  font-size: 2rem;
  font-weight: 600;
  span {
    font-family: 'Neucha';
    font-size: 2.7rem;
    color: #EA9C1F;
    font-weight: 900;
  }
  @include media-tablet {
    max-width: 350px;
    width: 80%;
    margin: auto;
    padding: 62px 0;
    span {
      font-size: 2.5rem;
    }
  }
  @include media-mobile-big {
    font-size: 1.8rem;
    padding-top: 93px;
    span {
      font-size: 2.3rem;
    }
    line-height: 1.1;
  }
}
.promo {
  text-align: center;
}

.promo__content_adavntage-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adavntage-block {
  width: 200px;
  margin: auto;
  background-size: contain;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.adavntage-block_text {
  margin-top: 27px;
  font-size: 4rem;
  font-family: 'Neucha';
}

.promo__content_text-title {
  font-size: 3rem;
}

.promo__content_advantage-title {
  font-size: 2.5rem;
}

.promo__content_text {
  margin: 100px auto;
}

.promo__content_text-description {
  font-size: 2rem;
  span {
    text-decoration: underline;
  }
}

.promo_advantage-fun {
  background-image: url(../../img/promo/block1.png);
}

.promo_advantage-method {
  width: 250px;
  height: 140px;
  background-image: url(../../img/promo/block2.png);
  .adavntage-block_text {
    margin-top: 47px;
  }
}

.promo_advantage-statistics {
  background-image: url(../../img/promo/block3.png);
}

.promo__content-block {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  font-size: 1.5rem;
  justify-content: center;
  @include media-tablet {
    height: 100%;
  }
}

.content-block-image {
  width: 46%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include media-tablet {
    width: 80%;
  }
}

.content-block-text {
  width: 46%;
  margin: auto;
  @include media-tablet {
    width: 80%;
  }
}

.promo__content_method-image {
  background-image: url(../../img/promo/learn.png);
}

.promo__content_game-image {
  background-image: url(../../img/promo/game.png);
}

.promo__content_statistic-image {
  background-image: url(../../img/promo/statistic.png);
}

