.footer {
  background-color: #37383c;
}

.footer__content {
  text-align: center;
}

.footer__links {
  padding: 20px 0;
}

.footer__navList {
  padding: 0;
}

.footer__navItem {
  display: inline;
  text-decoration: none;
  margin: 10px;
}

.footer__navItem a {
  text-decoration: none;
  color: #e6e9ee;
  font-size: 1.5rem;
  font-weight: 500;
  &:hover {
    color: orange;
  }
}

.footer__copyright {
  color: #e6e9ee;
  padding: 20px 0;
  font-size: 1.2rem;
}