/* @import 'filename.css'; */ /* импорт другого файла стилей (например, шрифта) - вебпак соберет и его*/
/* @import '~normalize.css'; */ /* тильда означает, что пакет нужно искать в node_modules */

@import 'module.css';

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

html, body {
    padding: 0;
    margin: 0;
}

body {

}

.container {

}