html, body{
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.letterSquare {
  font-family: Neucha, sans-serif;;
  margin:0;
  padding: 0;
  height: 100vh;
  background-size: 100vw 100vh;
  background-image: url('../../../../img/common/backgrounds/background6.jpg');
}

.letterSquare--btn__startBtn {
  font-family: Neucha, sans-serif;;
  font-size: 1.5em;
  border: 0px;
  outline: none;
  border-radius: 3px;
  transition: 0.1s;
  width: 150px;
  margin-top: 25px;
  margin-left: 0px;
  height: 30px;
  color: white;
  cursor: pointer;
  background: rgb(105, 190, 98);
  box-shadow: -3px -3px rgb(93, 173, 90) inset;
  &:active{
    background: rgb(55, 134, 59);
    box-shadow: 3px 3px #3faf52 inset;
  }
}

  
.letterSquare--container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
    top: 3%;
    left: 20%;
}
  
.letterSquare--wordList {
  margin-top: 120px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 5px 5px 5px darkgrey;
  overflow: hidden;
  width: 240px;
  height: 420px;
  margin-left: 8em;
}
  
.letterSquare--wordList__titleList {
  height: 60px;
  width: 240px;
  border-radius: 16px 16px 0 0;
  background: linear-gradient(to top, #f8b278, #fc8b4a);
  text-decoration: none;
  text-align: center;
}

.letterSquare--wordList__title {
  display: inline-block;
  position: relative;
  font-weight: bold;
  margin-top: 0.8em;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: white;
}
  
.letterSquare--wordList__itemList {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.8em;
  text-decoration: none;
  text-align: center;
}
  
.letterSquare---wordList__btnCheck {
  margin-top: 10px;
  margin-left: 40px;
}

.letterSquare-hidden {
  display: none;
}

#timer {
  position: absolute;
  top: 3%;
  right: 4%;
  display: inline-block;
  font-weight: bold;
  margin-left: auto;
  margin-right: 0;
  font-size: 5em;
  color: rgb(0, 0, 0);
}

.letterSquare--wordList__foundWord {
  text-decoration: line-through;
  color: #cfcccc;
}
  
table {
  margin-top: 5em;
  width: 600px;
  height: 600px;
}
  
td {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  margin-left: 14px;
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  border: 1px solid #266e32;
  border-radius: 5px;
  outline: none;
  background: rgb(105, 190, 98);
  }
td:hover {
  background: rgb(136, 245, 126);
}

.td_active {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  margin-left: 14px;
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  border: 1px solid #794902;
  border-radius: 5px;
  outline: none;
  background: #fa883c linear-gradient(#fca543, #fca258 80%);
}

.td_active:hover {
  background: #faa777 linear-gradient(#fc9856, #ff9252 80%);
}

.td_guessed {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  margin-left: 14px;
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  outline: none;
  background: #bdbcbc;
}

.td_guessed:hover {
  background: #d1d1d1;
}

.letterSquare--wordList__btnCheck {
  font-family: Neucha, sans-serif;;
  font-size: 1.5em;
  border: 0px;
  outline: none;
  border-radius: 3px;
  transition: 0.1s;
  width: 150px;
  margin-top: 25px;
  margin-left: 0px;
  height: 30px;
  color: white;
  cursor: pointer;
  background: rgb(105, 190, 98);
  box-shadow: -3px -3px rgb(93, 173, 90) inset;
  &:active{
    background: rgb(55, 134, 59);
    box-shadow: 3px 3px #3faf52 inset;
  }
}

.letterSquare--wordList__btnRemove {
  font-family: Neucha, sans-serif;;
  font-size: 1.5em;
  border: 0px;
  outline: none;
  border-radius: 3px;
  transition: 0.1s;
  width: 150px;
  margin-top: 10px;
  margin-left: 0px;
  height: 30px;
  color: white;
  cursor: pointer;
  background: rgb(255, 74, 68);
  box-shadow: -3px -3px rgb(252, 61, 48) inset;
  &:active{
    background: rgb(187, 53, 44);
    box-shadow: 3px 3px #fc2424 inset;
  }
}

.letterSquare--statistic__card {
  justify-content: center;
  display: inline-block;
  position: absolute;
    top: 20%;
    left: 40%;
  width: 330px;
  height: 450px;
  border-radius: 16px;
  text-align: center;
  background-color: white;
  box-shadow: 6px 6px 6px darkgrey;
}

.letterSquare--statistic__numberWordsFound {
  margin-top: 10px;
  font-weight: bold;
}

.letterSquare--statistic__numberWordsNotFound {
  margin-top: 15px;
  font-weight: bold;
}

.letterSquare--statistic__title {
  font-size: 2em;
  height: 60px;
  width: 330px;
  border-radius: 16px 16px 0 0;
  background: linear-gradient(to top, #faa159, #fd8844);
  text-decoration: none;
  text-align: center;
}

.letterSquare--statistic__button--next {
  border: 0px;
  outline: none;
  border-radius: 3px;
  transition: 0.1s;
  width: 150px;
  margin-top: 20px;
  margin-left: 0px;
  height: 30px;
  color: white;
  cursor: pointer;
  background: rgb(105, 190, 98);
  box-shadow: -3px -3px rgb(93, 173, 90) inset;
  &:active{
    background: rgb(55, 134, 59);
    box-shadow: 3px 3px #3faf52 inset;
  }
}

.letterSquare--statistic__button--back {
  border: 0px;
  outline: none;
  border-radius: 3px;
  transition: 0.1s;
  width: 150px;
  margin-top: 15px;
  margin-left: 0px;
  height: 40px;
  color: white;
  cursor: pointer;
  background: rgb(255, 74, 68);
  box-shadow: -3px -3px rgb(252, 61, 48) inset;
  &:active{
    background: rgb(253, 65, 51);
    box-shadow: 3px 3px #fc2424 inset;
  }
}